.hide{display: none;}
body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    zoom: 2; 
}
main{
    border: 1px solid black;
    width: 500px;
    height: 280px;
    display: block;
    margin: 10vh auto;
    background-color: rgb(26, 14, 51);
    border-radius: 5px;
    position: relative;
}
.flex-content{
    display: flex;
    justify-content: space-between;
}
.logo{
    background-image: url(../../public/images/logo.svg);
    background-size: cover;
    width: 35px;
    height: 17px;
    position: absolute;
    right: 45px;
    top: 40px;
}
.circle{
    background-color: rgb(0, 95, 220);
    width: 25px;
    height: 25px;
    border-radius: 100px;
    position: absolute;
    top: 15px;
    left: 83px;
}
.list-disk{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: solid 5px rgb(0, 95, 220);
    background-color: rgb(177, 177, 177);
}
.list-disk:last-child{
    border: solid 5px rgb(0, 95, 220);
    background-color: rgb(255, 255, 255);
}
.disks{
    position: absolute;
    left: 83px;
    height: 160px;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.vertical-line{
    background-color: rgb(0, 95, 220);
    width: 10px;
    height: 165px;
    position: absolute;
    left: 90px;
}
.bus-number{
    padding: 5px 15px;
    background-color: rgb(0, 95, 220);
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    top: 10px;
    margin-left: 10px;
    font-size: 130%;
}
.last-stop{
    position: relative;
    top: 15px;
    font-weight: bold;
    font-size: 120%;
    margin-right: 55px;
}
.time{
    position: relative;
    top: 15px;
    right: 35px;
    font-weight: bold;
    font-size: 120%;
}
li{
    line-height: 55px;
    list-style-type: none;
}
li:first-child{
    font-weight: bold;
}
ul{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 23px;
    margin-left: 80px;
}
#next-stop{
    background-color: rgb(0, 95, 220);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    /* box-shadow: 2px 2px 5px black; */
    margin-left: 15px;
    border-radius: 3px;
}
#next-stop:hover{
    background-color: rgb(0, 66, 153);
}
/* ul li:nth-last-of-type(16) ~ li {
    display: none !important;
} */
/* li:nth-child(-n+0) {
    display: none;
} */